:root {
  --background-color: #121212;
  --text-color: #ffffff;
}
* {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.note-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* Styling untuk Navbar */
.navbar {
  background-color: #121212;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
}

/*Style Search Bar */
.search-bar {
  padding: 20px;
}

.search-bar input {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Style Add Note */
.add-note {
  display: flex;
  align-self: center;
  margin-bottom: 5px;
}

/*Style Note List */
.note-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: space-between;
}

/*Style Note Item */
.note-item {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  padding-inline: 10px;
  margin-top: 5px;
  justify-content: space-around;
}
.note-item-btn {
  display: flex;
  justify-content: end;
}
.note-item .btn-del {
  background-color: red;
}
.note-item button {
  margin: 2px;
}
.note-item p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
